.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}

.song {
	margin-bottom: 10px;
}

.error {
	color: red;
	font-weight: bold;
}

.success {
	color: green;
	font-weight: bold;
	text-align: center;
}

@media (max-width: 993px) {
	.right, .left, .center {
		text-align: left;
	}
}