#scrollingBanner {
  height: 220px;
  overflow: hidden;
  position: relative;
  display: block;
  margin-bottom: 20px;
}

#scrollingBanner:before {
  content: "";
  display: block;
  position: absolute;
  width: 5250px;
  height: 100%;
  background: url("../images/scroll.jpg");
  animation: scroll 150s linear infinite;
}

@keyframes scroll {
  100% { 
    transform: translateX(-50%);
  }
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}

.ulAll {
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}

.song {
	margin-bottom: 10px;
}

.error {
	color: red;
	font-weight: bold;
}

.success {
	color: green;
	font-weight: bold;
	text-align: center;
}

.headerH {
	background-color: #e7e7e7;
	font-weight: bold;
	padding: 20px 0px;
}

.headerV {
	font-weight: bold;
}

.vertical {
	display: none;
}

.delete {
	margin: 20px 0px;
}

@media (max-width: 767px) {
	.vertical {
		display: block;
	}
	.horizon {
		display: none;
	}
}

@media (max-width: 767px) {
	.right, .left, .center {
		text-align: left;
	}
}